<footer class="page-footer">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">Footer Content</h5>-->
                <!--<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer-->
                    <!--content.</p>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col l4 offset-l2 s12">&ndash;&gt;-->
            <!--&lt;!&ndash;<h5 class="white-text">Links</h5>&ndash;&gt;-->
            <!--&lt;!&ndash;<ul>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->

    <div class="footer-copyright">
        <div class="container center-align">
            © 2017 Vladislav Lyubimtsev, KNURE DIPLOMA, ALL RIGHTS RESERVED
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>