<html>
<head>
    <title>WebJars Demo</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>
</head>
<body>

<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>


<!-- Dropdown Trigger -->
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
</ul>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>

</body>
</html>
