<html>
<head>
    <title>Internal Server Error</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<!-- Dropdown Trigger -->
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Error!</a>

</body>
</html>
