<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coefficients</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
        .modal { width: 50% !important ; max-height: 100% !important }
    </style>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/coefficient">Coefficients</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Coefficients</a>
            <ul class="right">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</header>
<main>
    <div class="container">
        <table class="striped">
            <thead>
            <tr>
                <th>Country</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Coefficient</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coefficient:${coefficients}">
                <!--/*@thymesVar id="coefficient" type="com.maverick.domain.data.SeasonCoefficient"*/-->
                <td th:text="${coefficient.country.country}"/>
                <td th:text="${#dates.format(coefficient.startDate, 'dd.MM.yyy')}"/>
                <td th:text="${#dates.format(coefficient.endDate, 'dd.MM.yyy')}"/>
                <td th:text="${coefficient.coefficient}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="modal" class="modal">
        <form action="#" th:action="@{/coefficient}" th:object="${coefficient}" method="post" class="col s12">

            <div class="modal-content">
                <h4>Add coefficient</h4>
                <div class="row">
                    <div class="row modal-form-row">
                        <div class="input-field col s12">
                            <input id="startDate" type="date" class="datepicker" th:field="*{startDate}"/>
                            <label for="startDate">Start date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="endDate" type="date" class="datepicker" th:field="*{endDate}"/>
                            <label for="endDate">End date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="country" th:field="*{country}">
                                <option value="" disabled="disabled" selected="selected">Choose your option</option>
                                <option th:each="country:${countries}" th:value="${country.id}"
                                        th:text="${country.country}"/>
                            </select>
                            <label for="country">Country</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="coefficient" type="number" step="0.01" th:field="*{coefficient}"/>
                            <label class="active" for="coefficient">Coefficient</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class=" modal-action waves-effect btn-flat" type="submit" value="Save"/>
            </div>
        </form>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large" href="#modal">
            <i class="large material-icons">add</i>
        </a>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>

<script th:inline="javascript">
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
    });

    $('.datepicker').pickadate({
        selectMonths: true,
        container: 'body'
    });
</script>
</body>
</html>