<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebJars Demo</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>


<div th:if="${param.error}">
    <script>
        Materialize.toast(' Invalid username and password.', 1000, 'rounded')
    </script>
</div>

<div th:if="${param.logout}">
    <script>
        Materialize.toast('You have been logged out.', 1000)
    </script>
</div>



</body>
</html>