<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>
    <!--Import jQuery before materialize.js-->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Main Page</a>
            <ul class="right">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown">
                        Logged as <span sec:authentication="name"></span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="dropdown" class="dropdown-content">
        <li><a href="/coefficient">Coefficients</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <table class="striped">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Release year</th>
                <th>Current Quantity</th>
                <th>Rating</th>
                <th>Statistics</th>
                <th>Tracking</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="smartphone:${smartphones}">
                <!--/*@thymesVar id="smartphone" type="com.maverick.domain.Smartphone"*/-->
                <!--/*@thymesVar id="brand" type="com.maverick.domain.Brand"*/-->
                <td th:text="${smartphone.brand.brand}"/>
                <td th:text="${smartphone.model}"/>
                <td th:text="${smartphone.releaseYear}"/>
                <td th:text="${smartphone.quantity}"/>
                <td th:text="${smartphone.rating}"/>
                <td>
                    <a th:href="@{/sale/{id}(id=${smartphone.id})}"
                       class="btn-floating waves-effect waves-light red">
                        <i class="material-icons">assessment</i>
                    </a>
                </td>
                <td>
                    <div class="switch">
                        <label>
                            Off
                            <input th:id="'tracked' + ${smartphone.id}" th:type="checkbox"
                                   th:checked="${smartphone.isTracked}"
                                   th:onclick="'javascript:updateTracking(\''+ ${smartphone.id} +'\');'"/>
                            <span class="lever"/>
                            On
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn">
        <a id="menu" class="btn-floating btn-large cyan"><i class="material-icons">local_shipping</i></a>
    </div>

    <div class="tap-target cyan" data-activates="menu">
        <div class="tap-target-content white-text">
            <h5>Attention</h5>
            <p>Some smartphone stocks need to be updated</p>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">

    function updateTracking(id) {
        var c = document.getElementById('tracked' + id).checked;
        var req = new XMLHttpRequest();
        req.open("PUT", "/smartphone/" + id + "?isTracked=" + c, true);
        req.send();
    }

    $(document).ready(function () {

//        if ([[${isTimeToDelivery}]])
        $('.tap-target').tapTarget('open');

        $(".dropdown-button").dropdown(
            {
                belowOrigin: true
            }
        );
    });
</script>
</body>
</html>