<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Smartphones</a>
            <ul class="right">
                <li>You're logged as admin</li>
                <li><a href="/smartphone/reset"><i class="material-icons right">system_update</i>Update smartphones</a></li>
                <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul id="dropdown" class="dropdown-content">
        <li><a href="/coefficient">Coefficients</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    </ul>
</header>
<main>
    <div class="container">
        <table class="striped">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Release year</th>
                <th>Rating</th>
                <th>Current Quantity</th>
                <th>Statistics</th>
                <th>Tracking</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="smartphone:${smartphones}">
                <td th:text="${smartphone.brand}"/>
                <td th:text="${smartphone.model}"/>
                <td th:text="${smartphone.releaseYear}"/>
                <td th:text="${smartphone.rating}"/>
                <td th:text="${smartphone.quantity}"/>
                <td>
                    <a th:href="@{/smartphone/sales(id=${smartphone.id})}"
                       class="btn-floating waves-effect waves-light red">
                        <i class="material-icons">assessment</i>
                    </a>
                </td>
                <td>
                    <div class="switch">
                        <label>
                            Off
                            <input th:id="'tracked' + ${smartphone.id}" th:type="checkbox"
                                   th:checked="${smartphone.isTracked}"/>
                                   <!--th:onclick="'javascript:updateTracking(\''+ ${smartphone.id} +'\');'"-->
                            <!--/>-->
                            <span class="lever"/>
                            On
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="fixed-action-btn">
        <a id="menu" class="btn-floating btn-large cyan"><i class="material-icons">local_shipping</i></a>
    </div>

    <div class="tap-target cyan" data-activates="menu">
        <div class="tap-target-content white-text">
            <h5>Attention</h5>
            <p>Some smartphone stocks need to be updated</p>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>
<script th:inline="javascript">

    function updateTracking(id) {
        var c = document.getElementById('tracked' + id).checked;
        var req = new XMLHttpRequest();
        req.open("PUT", "/smartphone/" + id + "?isTracked=" + c, true);
        req.send();
    }

    $(document).ready(function () {

//        if ([[${isTimeToDelivery}]])
        $('.tap-target').tapTarget('open');

        $(".dropdown-button").dropdown(
            {
                belowOrigin: true
            }
        );
    });
</script>
</body>
</html>