<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Main Page</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="webjars/materializecss/0.98.2/css/materialize.min.css"/>
    <script src="webjars/materializecss/0.98.2/js/materialize.min.js"></script>
</head>

<body>
<header>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/coefficient">Coefficients</a></li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Main Page</a>
            <ul class="right">


                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        Logged as <span sec:authentication="name"/>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        <table class="striped">
            <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Release year</th>
                <th>Current Quantity</th>
                <th>Rating</th>
                <th>Statistics</th>
                <th>Tracking</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="smartphone:${smartphones}">
                <!--/*@thymesVar id="smartphone" type="com.maverick.domain.Smartphone"*/-->
                <!--/*@thymesVar id="brand" type="com.maverick.domain.Brand"*/-->
                <td th:text="${smartphone.brand.brand}"/>
                <td th:text="${smartphone.model}"/>
                <td th:text="${smartphone.releaseYear}"/>
                <td th:text="${smartphone.quantity}"/>
                <td th:text="${smartphone.rating}"/>
                <td>
                    <a th:href="@{/statistics/{id}(id=${smartphone.id})}"
                       class="btn-floating waves-effect waves-light red">
                        <i class="material-icons">assessment</i>
                    </a>
                </td>
                <td>
                    <div class="switch">
                        <label>
                            Off
                            <input th:id="'tracked' + ${smartphone.id}" th:type="checkbox"
                                   th:checked="${smartphone.isTracked}"
                                   th:onclick="'javascript:updateTracking(\''+ ${smartphone.id} +'\');'"/>
                            <span class="lever"/>
                            On
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script>
    function updateTracking(id) {
        var c = document.getElementById('tracked' + id).checked;
        var req = new XMLHttpRequest();
        req.open("PUT", "/smartphone/" + id + "?isTracked=" + c, true);
        req.send();
        console.log(req.response)

    }

    $(document).ready(function () {
        $(".dropdown-button").dropdown(
            {
                belowOrigin: true
            }
        );
    });
</script>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <!--<div class="col l4 offset-l2 s12">-->
            <!--<h5 class="white-text">Links</h5>-->
            <!--<ul>-->
            <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
            <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
            <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
            <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center-align">
            © 2017 Vladislav Lyubimtsev, KNURE DIPLOMA, ALL RIGHTS RESERVED
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
</body>
</html>