<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Statistic</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>

    <link href="/css/mdb.min.css" rel="stylesheet"/>
    <script src="/js/mdb.min.js"></script>
    <script src="/js/tether.min.js"></script>

    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>
    <!--Import jQuery before materialize.js-->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>
</head>
<body>

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">Statistic</a>
            <ul class="right">
                <li>You're logged as: <span sec:authentication="name"></span></li>
                <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h3 th:text="${smartphone}"></h3>
        <div class="row">
            <div class="input-field col s12 m4 l5">
                <select id="year">
                    <option th:each="year:${years}" th:value="${year}" th:text="${year}"/>
                </select>
                <label for="year">Year</label>
            </div>
            <div class="input-field col s12 m4 l5">
                <select id="range">
                    <option value="months">By month</option>
                    <option value="seasons">By season</option>
                </select>
                <label for="range">Range</label>
            </div>
            <div class="input-field col s12 m4 l2">
                <a class="waves-effect waves-light btn" th:onclick="'javascript:buildChart();'">Build</a>
            </div>
        </div>
        <canvas id="myChart"></canvas>
    </div>
</main>
<div th:replace="fragments/footer :: footer"/>

<script th:inline="javascript">

    function buildChart() {

        var year = document.getElementById("year");
        var selectedYear = year.options[year.selectedIndex].value;

        var range = document.getElementById("range");
        var selectedRange = range.options[range.selectedIndex].value;

        var data = {
            labels: [[${ranges}]][selectedRange],
            datasets: [
                {
                    label: "My DataSet",
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [40,50,80,60, 45,50]
                }
            ]
        };
        if (window.myLine !== undefined) window.myLine.destroy();
        var ctx = document.getElementById("myChart").getContext("2d");
        window.myLine = new Chart(ctx).Line(data, {
            responsive: true
        });
    }

    $(document).ready(function () {
        $('select').material_select();
    });


</script>
</body>
</html>