<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebJars Demo</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/materializecss/0.98.2/css/materialize.min.css"/>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/materializecss/0.98.2/js/materialize.min.js"></script>

</head>
<body>

<h1>Hello</h1>

Current time is <span th:text="${serverTime}" />
Current time is <span th:text="${@environment.getProperty('spring.datasource.password', 'test')}" />

<h1>re</h1>
</body>
</html>
